@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center">
    <h1 class="display-4 mb-4">Modelo Dual</h1>
    <div class="row">
        <div class="col-md-6">
            <img class="w-25" src="/img/merida.png" />
        </div>
        <div class="col-md-6">
            <img src="/img/logo_celulas_plenum.png" />
        </div>
    </div>   
</div>
